
__pycache__/
*.py[cod]
*$py.class

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints

*.csv
*.xlsx
*.pkl
*.joblib
data/
models/

*.log

edgedriver_win64/
chromedriver/
geckodriver/

.DS_Store
Thumbs.db